* {
	background-color: darkgray;
	/* background-color: ; */
}
nav {
	display: flex;
	justify-content: flex-end;
}
h1 {
	text-align: center;
	font-family: monospace;
}
.wrapper {
	display: flex;
	border: solid;
	border-color: red;
	justify-content: center;
	align-items: center;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.button-panel {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: solid;
	border-color: greenyellow;
	min-width: 40%;
	min-height: 400px;
	font-size: larger;
}
.eraserBtn:focus {
	background-color: darkred;
}
button {
	font-size: large;
	border-radius: 10%;
	background-color: black;
	color: rgb(226, 226, 226);
	min-width: 100px;
}
.display {
	display: grid;
	width: 800px;
	height: 800px;
	border: solid;
	/* border-radius: 5%; */
	border-color: red;
}
footer {
	text-align: center;
}
